body{
	margin: 0px;
	padding: 0px;
	font-family: arial;
	font-size: 16px;
	color: #333;
}
#thanhtren{
	width: 100%;
	height: 150px;
	background-color: white;
}
#menu{
	width: 100%;
	height: 42px;
	background-color: #5644ff;
}
.logo-banner{
	width: 1200px;
	height: 150px;
	margin: 0 auto;
	background-color: white;
}
.logo{
	width: 200px;
	height: 100px;
	margin: 24px auto;
	float: left;
	text-align: center;
	line-height: 100px;
	background-color: #5644ff;
}
.tienich{
	width: 292px;
	height: 137px;
	margin-top: 5px;
	float: right;
}
#tienich1{
	width: 292px;
	height: 51px;
	margin-bottom: 35px;
}
.muc1{
	width: 50px;
	height: 50px;
	background-color: #5644ff;
	float: left;
	margin-left: 1.5px;
	text-align: center;
	line-height: 50px;
}
.muc2{
	width: 50px;
	height: 50px;
	background-color: #5644ff;
	float: left;
	margin-left: 10px;
	text-align: center;
	line-height: 50px;
}
.muc3{
	width: 50px;
	height: 50px;
	background-color: #5644ff;
	float: left;
	margin-left: 10px;
	text-align: center;
	line-height: 50px;
}
.muc4{
	width: 50px;
	height: 50px;
	background-color: #5644ff;
	float: left;
	margin-left: 10px;
	text-align: center;
	line-height: 50px;
}
.muc5{
	width: 50px;
	height: 50px;
	background-color: #5644ff;
	float: left;
	margin-left: 10px;
	text-align: center;
	line-height: 50px;
}
#timkiem{
	width: 281px;
	height: 51px;
	background-color: #5644ff;
	line-height: 60px;
	margin-left: 1px;
	/*padding-left: Tạo viền trong khối cho chữ*/
	padding-left: 10px;
}
.menuchinh{
	width: 1200px;
	height: 42px;
	background-color: orange;
	margin: 0 auto;
	text-align: center;
	line-height: 40px;
}
header{
	margin-bottom: 10px;
}
#phangiua1{
	width: 100%;
	height: 500px;
	background-color: orange;
	line-height: 80px;
	margin-bottom: 55px;
}
.chu1{
	padding-left: 230px;
}
#phangiua2{
	width: 1200px;
	height: 282px;
	margin: 0 auto;
	margin-bottom: 20px;
}
.giua1{
	width: 600px;
	height: 282px;
	background-color: orange;
	float: left;
	line-height: 100px;
}
.giua2{
	width: 280px;
	height: 282px;
	margin-left: 20px;
	float: left;
	background-color: orange;
	line-height: 100px;
}
.giua3{
	width: 280px;
	height: 282px;
	margin-left: 20px;
	float: left;
	background-color: orange;
	line-height: 100px;
}
#phangiua3{
	width: 1200px;
	height: 282px;
	margin: 0 auto;
	margin-bottom: 70px;
}
.giua4{
	width: 600px;
	height: 282px;
	background-color: orange;
	float: left;
	line-height: 100px;
}
.giua5{
	width: 280px;
	height: 282px;
	margin-left: 20px;
	float: left;
	background-color: orange;
	line-height: 100px;
}
.giua6{
	width: 280px;
	height: 282px;
	margin-left: 20px;
	float: left;
	background-color: orange;
	line-height: 100px;
}
.chu2{
	padding-left: 35px;
}
#phangiua4{
	width: 1200px;
	height: 290px;
	margin: 0 auto;
}
.giua7{
	width: 292.5px;
	height: 290px;
	float: left;
	background-color: orange;
	line-height: 100px;
}
.giua8{
	width: 292.5px;
	height: 290px;
	float: left;
	margin-left: 10px;
	background-color: orange;
	line-height: 100px;
}
.giua9{
	width: 292.5px;
	height: 290px;
	float: left;
	margin-left: 10px;
	background-color: orange;
	line-height: 100px;
}
.giua10{
	width: 292.5px;
	height: 290px;
	float: left;
	margin-left: 10px;
	background-color: orange;
	line-height: 100px;
}
.hinhanh{
	padding-left: 35px;
}
section{
	margin-bottom: 70px;
}
#thanhduoi{
	width: 100%;
	height: 280px;
	background-color: #5644ff;
}
.chanduoi{
	width: 1200px;
	height: 280px;
	background-color: #5644ff;
	margin: 0 auto;
}
.chan1{
	width: 390px;
	height: 200px;
	float: left;
	background-color: orange;
	margin-top: 40px;
	line-height: 100px;
}
.chan2{
	width: 390px;
	height: 200px;
	float: left;
	background-color: orange;
	margin-top: 40px;
	margin-left: 15px;
	line-height: 100px;
}
.chan3{
	width: 390px;
	height: 200px;
	float: left;
	background-color: orange;
	margin-top: 40px;
	margin-left: 15px;
	line-height: 100px;
}
.chan{
	padding-left: 35px;
}
